body{
    background-color: #F8FFE5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}

.titulos {
    color: #1b1b1cff;
}

#java {
    font-size: smaller;
}

#foto_perfil {
    border-radius: 100px;
}

.botao_indice {
    text-decoration: none;
    background-color: #2c0dabff;
    color: #e0f79eff;
    line-height: 55px;
    padding: 10px;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.teste {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
}


