body{
    background-color: #F8FFE5;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    text-align: center;
}

.titulos {
    color: #1b1b1cff;
    text-align: center;
    padding: 40px;
    
}

#nome {
    text-align: center;
}

#foto_perfil{
    float: left;
}

#java {
    font-size: smaller;
}

#foto_perfil {
    border-radius: 100px;
    position: relative;
    bottom: 20px;
}

.botao_indice {
    text-decoration: none;
    background-color: #1b1b1cff;
    color: #F8FFE5;
    line-height: 55px;
    padding: 20px;
    border-radius: 10px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.teste {
    display: inline-block;
    margin: 0 10px;
    padding: 5px;
}



.descricao {
    text-align: center;
    width: 90%;
}

.teste:hover {
    filter: invert(1);
}

